body{
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: Arial, Helvetica, sans-serif;
}
.tarea{
    grid-template-columns: min-content;
    
}